In [2]:
# '#'으로 시작하면 한 줄 주석 => 컴파일러(번역)나 인터프리터(통역)가 번역하지 않는다. => 코드 설명
# ''' 부터 ''' 사이에 코딩하면 범위 주석을 지정할 수 있다.

In [18]:
# 파이썬은 문자열 데이터를 표현할 때 큰따옴표나 작은따옴표로 묶어주면 된다. => 따옴표 짝은 맞춰줘야 한다.
# print() 함수는 () 안의 내용을 출력하고 줄을 바꾼다.
print('Hello Python')
print("안녕 파이썬")
print('제2외국어를 배운 호랑이가 "야옹" 했습니다.')
print("제2외국어를 배운 고양이가 '어흥' 했습니다.")
print('제2외국어를 배운 호랑이가 \'야옹\' 했습니다.')
print("제2외국어를 배운 고양이가 \"어흥\" 했습니다.")

Hello Python
안녕 파이썬
제2외국어를 배운 호랑이가 "야옹" 했습니다.
제2외국어를 배운 고양이가 '어흥' 했습니다.
제2외국어를 배운 호랑이가 '야옹' 했습니다.
제2외국어를 배운 고양이가 "어흥" 했습니다.

In [23]:
# print() 함수로 출력 후 줄을 변경하지 않으려면 end 옵션을 사용한다.
# end 옵션은 print() 함수로 출력한 후 출력할 내용을 지정한다. => end 옵션을 생략하면 '\n'이 기본값으로 사용된다.
# '\n' => new line => 줄을 바꾼다.
print('Hello\nPython', end=' ')
print("안녕 파이썬")

Hello
Python 안녕 파이썬

In [29]:
# print() 함수로 2개 이상의 데이터를 출력하려면 ','로 구분해서 출력하면 된다.
# print() 함수로 출력시 데이터를 ','로 구분하면 sep 옵션에서 지정한 구분자가 데이터와 데이터 사이에 출력된다. => sep 옵션을 
# 생략하면 공백이 기본값으로 사용된다.
print('Hello Python', "안녕 파이썬")
print('Hello Python', "안녕 파이썬", sep=' ')
print('Hello Python', "안녕 파이썬", sep='~(^^~)')

Hello Python 안녕 파이썬
Hello Python 안녕 파이썬
Hello Python~(^^~)안녕 파이썬

In [33]:
# '+' 연산자를 사용하면 문자열 데이터를 연결해서 출력할 수 있다.
print('Hello Python' + "안녕 파이썬")
print(5 + 8)
# print('Hello Python' + 8) # 문자열과 숫자를 연결하면 에러가 발생된다.

Hello Python안녕 파이썬
13

In [34]:
# '*' 연산자를 사용하면 특정 문자열을 지정된 숫자만큼 반복해서 출력할 수 있다.
print('=' * 80)

================================================================================

'%'와 서식 문자를 사용해서 출력하기

서식 문자  
d(정수), f(실수), s(문자열)를 사용해서 출력 서식을 지정할 수 있고 출력 서식을 제외한 나머지 문자들은 입력함 그대로 출력된다.  
출력 서식의 형식  
%[-][0][n][.m]서식문자 => []안의 내용은 생략할 수 있다.  
n: 전체 자리수, 전체 자리수를 지정하면 데이터가 오른쪽으로 정렬되서 출력된다.  
-: 전체 자리수가 지정된 경우 데이터를 왼쪽에 맞춰 출력한다.  
0: 전체 자리수가 지정된 경우 데이터를 왼쪽의 남는 자리에 '0'이 채워져서 출력된다. => 문자열에서는 무시된다.  
.m: 실수를 출력하려 하는 경우 소수점 아래 자리수를 지정한다.

In [35]:
print(100)
print(1)
print(10000)

100
1
10000

In [41]:
# print('출력 서식' % 출력할 데이터) => 출력할 데이터가 1개일 경우
print('%5d' % 100)
print('%5d' % 1)
print('%-5d' % 1)
print('%05d' % 1)
print('%5d' % 10000)

  100
    1
1
00001
10000

In [42]:
print('abc')
print('a')
print('abcde')

abc
a
abcde

In [45]:
print('%5s' % 'abc')
print('%5s' % 'a')
print('%-5s' % 'a')
print('%05s' % 'a')
print('%5s' % 'abcde')

  abc
    a
a
    a
abcde

In [51]:
print('%6.2f' % 123.45)
print('%6.2f' % 123.456) # 소수점 아래 숫자는 잘리는 자리에서 반올림시켜 출력한다. => 실제 데이터는 변하지 않는다.
print('%6.2f' % 123.4)   # 남는 자리에는 '0'이 채워져서 출력된다.

123.45
123.46
123.40

In [68]:
# %를 사용한 출력 서식에 맞춰 출력할 데이터가 2건 이상이라면 출력할 데이터를 ()로 반드시 묶어줘야 한다.
print('%d + %d = %d' % (5, 3, 5 + 3)) # 덧셈
print('%d - %d = %d' % (5, 3, 5 - 3)) # 뺄셈
print('%d * %d = %d' % (5, 3, 5 * 3)) # 곱셈
# 파이썬은 '/' 연산자로 나눗셈을 하면 소수점 아래까지 계산된다.
# '/' 연산은 연산 결과가 실수로 나오지만 출력 서식이 '%d'(정수)로 지정되서 정수만 출력된다.
print('%d / %d = %d' % (5, 3, 5 / 3)) # 실수 나눗셈
print('%d / %d = %f' % (5, 3, 5 / 3))
# 파이썬은 '//' 연산자로 나눗셈을 하면 몫만 계산된다.
print('%d // %d = %d' % (5, 3, 5 // 3)) # 정수 나눗셈
print('%d // %d = %f' % (5, 3, 5 // 3))
# 출력 서식을 지정할 때 '%' 문자 자체를 출력하려한다면 연속해서 2개를 써야한다.
print('%d %% %d = %d' % (5, 3, 5 % 3)) # 나머지
print('%d의 %d승 = %d' % (2, 10, 2 ** 10)) # 거듭제곱
print('루트 %d = %f' % (2, 2 ** 0.5)) # 제곱근
import math
print('루트 %d = %f' % (2, math.sqrt(2))) # 제곱근 함수

5 + 3 = 8
5 - 3 = 2
5 * 3 = 15
5 / 3 = 1
5 / 3 = 1.666667
5 // 3 = 1
5 // 3 = 1.000000
5 % 3 = 2
2의 10승 = 1024
루트 2 = 1.414214
루트 2 = 1.414214

산술 연산자 우선 순위: () => ** => *, /, //, % => +, -

문자열 출력 서식을 지정하는 format() 메소드와 {}를 사용해서 출력하기

In [79]:
print('%d + %d = %d' % (5, 3, 5 + 3))
# '%'로 서식을 지정할 때는 %d, %f, %s 위치에 데이터가 대입되서 출력 되었지만 {}를 사용하면 {}에 데이터가 대입되서 출력된다.
print('{} + {} = {}'.format(5, 3, 5 + 3))
print('{} - {} = {}'.format(5, 3, 5 - 3))
print('{} * {} = {}'.format(5, 3, 5 * 3))
print('{} / {} = {}'.format(5, 3, 5 / 3))
print('{} // {} = {}'.format(5, 3, 5 // 3))
print('{} % {} = {}'.format(5, 3, 5 % 3))
print('{}의 {}승 = {}'.format(5, 3, 5 ** 3))
print('루트 {} = {}'.format(5, 5 ** 0.5))

5 + 3 = 8
5 + 3 = 8
5 - 3 = 2
5 * 3 = 15
5 / 3 = 1.6666666666666667
5 // 3 = 1
5 % 3 = 2
5의 3승 = 125
루트 5 = 2.23606797749979

In [88]:
# format() 메소드와 출력할 데이터의 인덱스(일련번호)를 사용해서 출력하기 => 인덱스는 0부터 시작된다.
print('{} {}'.format('홍길동', '바보'))
# 인덱스를 지정하지 않은 상태에서 아래와 같이 {}가 출력할 데이터보다 많으면 에러가 발생된다.
# print('{} {} {}'.format('홍길동', '바보')) # 에러
# {}가 모자라면 에러는 발생되지 않고 남는 데이터가 무시된다.
print('{}'.format('홍길동', '바보'))

print('{0} {1}'.format('홍길동', '바보'))
print('{1} {0}'.format('홍길동', '바보'))
# {}에 출력할 데이터의 인덱스를 지정하면 데이터와 {}의 개수가 다르더라도 인덱스 범위만 벗어나지 않으면 정상 출력된다.
print('{0} {1} {0}'.format('홍길동', '바보'))
# {}에 지정한 인덱스가 인덱스의 범위를 벗어나면 에러가 발생된다.
# print('{0} {1} {2}'.format('홍길동', '바보')) # 에러
# {}에 인덱스를 부분적으로 지정하면 에러가 발생된다.
# print('{0} {1} {}'.format('홍길동', '바보')) # 에러

홍길동 바보
홍길동
홍길동 바보
바보 홍길동
홍길동 바보 홍길동

출력 서식과 format() 메소드로 출력할 데이터의 인덱스를 사용해 서식을 지정해 출력하기

In [122]:
# {인덱스:출력서식} => 출력 서식 앞에 '%'는 붙이지 않는다.
print('%s(은)는 %d원 입니다.' % ('메론', 10000))
print('{}(은)는 {}원 입니다.'.format('메론', 10000))
print('{0}(은)는 {1}원 입니다.'.format('메론', 10000))
print('{0:10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:10s}(은)는 {1:7,d}원 입니다.'.format('메론', 100000)) # 천 단위마다 ','를 삽입해서 출력한다.
print('{0:10s}(은)는 {1:7.2%} 입니다.'.format('메론', 0.123456789)) # 백분율, 자동으로 100이 곱해져 출력된다.

메론(은)는 10000원 입니다.
메론(은)는 10000원 입니다.
메론(은)는 10000원 입니다.
메론        (은)는   10000원 입니다.
메론        (은)는 100,000원 입니다.
메론        (은)는  12.35% 입니다.

In [124]:
# '<', '^', '>'를 사용해서 문자열 정렬 방법을 지정할 수 있다. => '<'가 기본값으로 사용된다.
print('{0:10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:<10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:^10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:>10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))

메론        (은)는   10000원 입니다.
메론        (은)는   10000원 입니다.
    메론    (은)는   10000원 입니다.
        메론(은)는   10000원 입니다.

In [129]:
# '<', '^', '>' 앞에 문자열 출력시 남는 공백에 채울 채움 문자(1글자만 가능)를 지정할 수 있다.
print('{0:_<10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:*^10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))
print('{0:!>10s}(은)는 {1:7d}원 입니다.'.format('메론', 10000))

메론________(은)는   10000원 입니다.
****메론****(은)는   10000원 입니다.
!!!!!!!!메론(은)는   10000원 입니다.

In [130]:
# f 접두어를 사용한 서식 지정
name = '홍길동'
age = 20
print(f'{name}님은 {age}살 입니다.')

홍길동님은 20살 입니다.