튜플은 리스트와 거의 비슷하지만 리스트는 데이터를 []로 감싸고 튜플은 ()로 감싼다.  
리스트는 데이터의 수정 및 삭제가 가능하지만 튜플은 불가능하다.

In [4]:
# 빈 튜플 만들기
a = ()
print(type(a))
print(a)
# 빈 튜플은 생성자 함수 사용해서도 만들 수 있다.
b = tuple()
print(type(b))
print(b)

<class 'tuple'>
()
<class 'tuple'>
()

In [8]:
# 데이터가 1개인 리스트
c = [1]
print(type(c))
print(c)

# 데이터가 1개인 튜플을 만들려는 경우 ()만 사용하면 튜플이 아니라 상수로 인식된다.
d = (1)
print(type(d))
print(d)

# 데이터가 1개인 튜플은 데이터 뒤에 반드시 ','를 써줘야 튜플로 인식한다.
e = (1,)
print(type(e))
print(e)

<class 'list'>
[1]
<class 'int'>
1
<class 'tuple'>
(1,)

In [14]:
f = (1, 2, 3)
print(f)
g = ('a', 'b', 'c')
print(g)
h = (1, 'a', 2, 'b')
print(h)
i = ('a', 'b', 'c', (1, 2, 3))
print(i)
j = ('a', 'b', 'c', [1, 2, 3])
print(j)
k = ['a', 'b', 'c', (1, 2, 3)]
print(k)

(1, 2, 3)
('a', 'b', 'c')
(1, 'a', 2, 'b')
('a', 'b', 'c', (1, 2, 3))
('a', 'b', 'c', [1, 2, 3])
['a', 'b', 'c', (1, 2, 3)]

In [16]:
# 튜플을 만들 때 ()로 데이터를 묶지않고 하나의 변수에 ','로 구분해서 여러개의 데이터를 넣으면 자동으로 튜플로 인식한다.
l = 1, 2, 3, 4, 5
print(type(l))
print(l)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [25]:
m = ('a', 'b', ('ab', 'cd'))

# 튜플은 리스트와 같이 인덱싱과 슬라이싱이 가능하다.
print(m[0])
print(m[2])
print(m[-1])
print(m[-1][0])
print(m[1:2])
print(m[:2])
print(m[1:])

# 튜플은 리스트와 같이 덧셈(연결) 연산과 곱셈(반복) 연산이 가능하다.
print(m + (1, 2, 3))
print(m * 3)

a
('ab', 'cd')
('ab', 'cd')
ab
('b',)
('a', 'b')
('b', ('ab', 'cd'))
('a', 'b', ('ab', 'cd'), 1, 2, 3)
('a', 'b', ('ab', 'cd'), 'a', 'b', ('ab', 'cd'), 'a', 'b', ('ab', 'cd'))

In [27]:
# 튜플은 데이터를 수정할 수 없으므로 에러가 발생된다.
n = 1, 2, 3, 4, 5
print(n)
n[0] = 999

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [28]:
# 튜플은 데이터를 제거할 수 없으므로 에러가 발생된다.
o = 1, 2, 3, 4, 5
print(o)
del o[0]

(1, 2, 3, 4, 5)

TypeError: 'tuple' object doesn't support item deletion

In [30]:
# del 명령을 사용해서 튜플 자체를 제거하는 것은 가능하다.
p = 1, 2, 3, 4, 5
print(p)
del p
print(p)

(1, 2, 3, 4, 5)

NameError: name 'p' is not defined